body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgba(177, 0, 135, 0.521);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

input[type="password"],
button {
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.36);
  padding: 8px 12px;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

button {
  background-color: #00000028;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #000000a0;
}

/* Ajoutez ce code CSS à votre fichier style.css */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ajout d'une ombre pour le relief */
}

footer p {
  margin: 5px; /* Marge autour du paragraphe */
}





.container1 {
  color: #000000;
  font-size: 1.13rem; /* 2.26rem / 2 */
  text-transform: uppercase;
  height: 15px; /* 30px / 2 */
  display: flex;
  align-items: center;
  justify-content: center;
}
.animation {
  height: 25px; /* 50px / 2 */
  overflow: hidden;
  margin-left: 0.5rem; /* 1rem / 2 */
}

.animation > div > div {
  padding: 0.125rem 0.375rem; /* 0.25rem / 2, 0.75rem / 2 */
  height: 1.4055rem; /* 2.81rem / 2 */
  margin-bottom: 1.4055rem; /* 2.81rem / 2 */
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

@keyframes text-animation {
  0% { margin-top: 0; }
  10% { margin-top: 0; }
  20% { margin-top: -2.81rem; }
  30% { margin-top: -2.81rem; }
  40% { margin-top: -5.62rem; }
  60% { margin-top: -5.62rem; }
  70% { margin-top: -2.81rem; }
  80% { margin-top: -2.81rem; }
  90% { margin-top: 0; }
  100% { margin-top: 0; }
}

